@import 'settings.scss';
@import 'typography.scss';
@import 'resources.scss';

@import './components/nav.scss';
@import './components/posts.scss';

@import './components/page.scss';

body {
  padding: 60px 0 0 0;
  margin: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#555975+0,4e3136+100 */
  background: $light; /* Old browsers */
  // background: -moz-linear-gradient(top, #555975 0%, #4e3136 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(top, #555975 0%,#4e3136 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom, #555975 0%,#4e3136 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555975', endColorstr='#4e3136',GradientType=0 ); /* IE6-9 */

  .page-content {
    // position: absolute;
    background: $light;
    padding: 40px 40px 0 40px;
    width: calc(100% - 80px);
  }

  .page-content.slide-enter {
    position: absolute;
    top: 1000px;
    transition: top 300ms ease-in-out;
  }

  .page-content.slide-exit {
    position: absolute;
    top: 1000px;
    transition: top 300ms ease-in-out;
  }

  .page-content.slide-enter-done {
    position: absolute;
    top: 60px;
    transition: top 300ms ease-in-out;
  }
}
