body {
  font-family: 'Raleway', sans-serif;
  color: $dark;

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', serif;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;

    span {
      color: $accent;
    }
  }

  h2 {
    font-size: 20px;
  }

  h5 { font-size: 18px; }

  p, li {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 1em;

    &.small {
      font-size: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 920px) {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  a.link {
    color: $accent;
    position: relative;
    text-decoration: none;

    &.navlink {
      color: $light;
    }

    &:after {
      position: absolute;
      content: "";
      bottom: -3px;
      left: 0;
      height: 2px;
      width: 0;
      background-color: $accent;
      transition: width 0.3s, color 0.3s;
    }

    &:hover {
      color: $accent;

      &:after {
        width: 100%;
      }
    }
  }
}
